/* Header */
body {
    font-family: "BBText Regular",Helvetica,Arial,sans-serif;
    margin: 0px;
}
#header {
    color: white;
}
#top {
    width: 100%;
    height: 120px;
    padding-top: 30px;
    display: flex;
    background-color: black;
}
#email {
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: bold;
}
a {
    color: white;
    text-decoration: none;
}
#search {
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    margin-bottom: 5px;
    background-color: black;
    border: 0px solid black;
}
#find {
    padding-top: 65px;
    height: 20px;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
#find>img {
    height: 100%;
}
#discount {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 15px;
    padding-top: 1px;
    background-color: rgb(58, 58, 58);
}
#left {
    width: 20%;
    height: 130px;
    font-size: small;
}
#left>div {
    width: 60%;
    margin: auto;
}
#center {
    width: 60%;
    height: 150px;
}
#title {
    width: 345px;
    margin: auto;
}
img {
    width: 100%;
}
#tabs {
    padding-top: 50px;
    width: 90%;
    font-size: 14px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
#right {
    width: 20%;
    height: 130px;
}
#right>div {
    width: 70%;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: bold;
    margin: auto;
}
.rightImage {
    height: 20px;
}
.rightImage>a>img {
    height: 100%;
}
/* Header End */