
body {
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#body a {
  text-decoration: none;
  color: black;
}
button:hover {
  cursor: pointer;
}
/* Header */
body {
  font-family: "BBText Regular",Helvetica,Arial,sans-serif;
  margin: 0px;
}
#header {
  color: white;
}
#top {
  width: 100%;
  height: 120px;
  padding-top: 30px;
  display: flex;
  background-color: black;
}
#email {
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: bold;
}
a {
  color: white;
  text-decoration: none;
}
#search {
  font-size: 15px;
  font-weight: bold;
  width: 150px;
  margin-bottom: 5px;
  background-color: black;
  border: 0px solid black;
}
#find {
  padding-top: 65px;
  height: 20px;
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
#find>img {
  height: 100%;
}
#discount {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 15px;
  padding-top: 1px;
  background-color: rgb(58, 58, 58);
}
#left {
  width: 20%;
  height: 130px;
  font-size: small;
}
#left>div {
  width: 60%;
  margin: auto;
}
#center {
  width: 60%;
  height: 150px;
}
#title {
  width: 345px;
  margin: auto;
}
img {
  width: 100%;
}
#tabs {
  padding-top: 50px;
  width: 90%;
  font-size: 14px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
#right {
  width: 20%;
  height: 130px;
}
#right>div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: bold;
  margin: auto;
}
.rightImage {
  height: 20px;
}
.rightImage>a>img {
  height: 100%;
}
/* Header End */
/* Body */
.head {
  width: 100%;
  height: 280px;
  margin-top: -45px;
  background-image: url(https://wi.wallpapertip.com/wsimgs/9-93816_wallpaper-backgrounds-south-african-land-scape-wallpaper-south.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.head > p {
  text-align: center;
  color: white;
  padding-top: 80px;
  font-size: 45px;
  letter-spacing: 2px;
}
.head2 {
  width: 98%;
  height: 120px;
  margin: auto;
}
.up {
  width: 100%;
  height: 37px;
  display: flex;
  margin-top: 10px;
  font-size: 12.5px;
  justify-content: space-between;
}
.up > a[href="./index.html"] {
  text-decoration: none;
  color: black;
}
.up > a[href="./index.html"]:hover {
  border: 1px solid black;
  color: black;
}
.up > select {
  border: 1.5px solid black;
  border-radius: 0px;
  padding-left: 10px;
}
#body {
  display: grid;
  width: 98%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 610px);
  gap: 30px;
  box-sizing: border-box;
}
#body > div {
  text-align: center;
  box-sizing: border-box;
}
#body div > a:nth-child(1) {
  border: 0px;
}
#body div > a:nth-child(1) > img {
  width: 90%;
  height: 50%;
}
#body div > h4:nth-child(2) {
  margin-top: 2px;
  letter-spacing: -0.5px;
}
#body div > p:nth-child(3) {
  margin-top: -20px;
  font-size: 14px;
  letter-spacing: 0.4px;
}
#body div > p:nth-child(4) .material-icons-outlined {
  font-size: 16px;
  letter-spacing: -1px;
}
#body div > p:nth-child(5) {
  margin-top: -10px;
  font-size: 14px;
  letter-spacing: 0.5px;
}
#body div > button:nth-child(6) {
  width: 150px;
  height: 30px;
  font-weight: 550;
  font-size: 11px;
  color: white;
  letter-spacing: 0.3px;
  border: none;
  background-color: black;
}

.corrector1 {
  background-image: url(https://www.bobbibrown.co.uk/media/export/cms/HP_Modules/FH22/FY22_ISF_Reform_Module_Product_Formula_Global_PC_SLICE_BRIGHTERLOOK.jpg);
  background-size: cover;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.corrector1 > h3:nth-child(1) {
  font-size: 37px;
  letter-spacing: 2px;
  margin-top: 10px;
  font-weight: 400;
}
.corrector1 > h3:nth-child(2) {
  font-size: 37px;
  letter-spacing: 2px;
  margin-top: -35px;
  font-weight: 400;
}
.corrector1 > p:nth-child(3) {
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 3px;
}
.corrector1 > button:nth-child(4) {
  margin-top: 40px;
  color: black;
  background-color: white;
  border: none;
  height: 33px;
  width: 100px;
  font-size: 12px;
  font-weight: 550;
}
.corrector2 {
  background-image: url(https://media.istockphoto.com/photos/paint-on-canvas-coloured-sections-with-bright-shades-picture-id1282500710?k=20&m=1282500710&s=612x612&w=0&h=MGzUL-AeP3cE3o7tDnC1aXt6WZA0-xRgV87aOx92rV8=);
  background-size: cover;
  font-family: "Roboto Condensed", sans-serif;
}
.corrector2 > h3 {
  margin-top: 160px;
  font-size: 30px;
  letter-spacing: 2px;
}
.corrector2 > p {
  font-size: 16px;
  margin-top: -20px;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.corrector2 > img {
  width: 150px;
}
.corrector3 {
  background-image: url(https://media.istockphoto.com/photos/paint-on-canvas-coloured-sections-with-bright-shades-picture-id1282500710?k=20&m=1282500710&s=612x612&w=0&h=MGzUL-AeP3cE3o7tDnC1aXt6WZA0-xRgV87aOx92rV8=);
  background-size: cover;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.corrector3 > h3 {
  font-size: 35px;
  margin-top: 150px;
  font-weight: 400;
  letter-spacing: 2.3px;
}
.corrector3 > p {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-top: -27px;
}
.corrector3 > button {
  background-color: white;
  margin-top: 50px;
  color: black;
  border: none;
  width: 130px;
  font-size: 11px;
  font-weight: 550;
  letter-spacing: 0.5px;
  height: 35px;
}
.corrector4 {
  background-image: url(https://assets.vogue.in/photos/5e3aa28e208dd60008089628/2:3/w_2560%2Cc_limit/001-Emma-Stone-Wedding-SEO-VogueGlobe-Jan30-Getty-Images.jpg);
  background-size: cover;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
}
.corrector4 > h3 {
  font-size: 35px;
  margin-top: 210px;
  font-weight: 400;
  letter-spacing: 2.3px;
}
.corrector4 > p {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-top: -27px;
}
.corrector4 > button {
  background-color: white;
  margin-top: 50px;
  color: black;
  border: none;
  width: 130px;
  font-size: 11px;
  font-weight: 550;
  letter-spacing: 0.5px;
  height: 35px;
}
.endPart {
  width: 100%;
  height: 100px;
  padding-top: 5px;
  margin: auto;
  text-align: center;
  font-size: 15px;
  background-color: rgb(250, 248, 248);
}

/* Footer Start */
#footer {
  width: 100%;
  height: 570px;
  color: white;
  margin-top: 30px;
  background-color: black;
}
.blackOption {
  background-color: black;
  color: white;
  margin-top: 10px;
  padding: 15px 45px;
  font-size: 14px;
  border: 1px solid white;
}
.mediumFont {
  font-size: 14px;
  font-weight: bold;
}
#footerContents {
  display: flex;
  height: 350px;
  border-bottom: 1px solid #B7B7B8;
  padding-top: 40px;
}
#footerLeft {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
#footerLeft>div>div {
  margin-top: 10px;
}
#footerRight {
  width: 50%;
}
.blackInput {
  width: 100%;
}
.blackSubmit {
  border: 1px solid white;
  padding: 14px;
  background-color: black;
  color: white;
  margin-top: 15px;
}
#input {
  width: 275px;
  margin: auto;
}
.blackInput::placeholder {
  color: white;
}
.footerIcons {
  margin-top: 10px;
  font-size: 30px;
  padding-right: 15px;
}
.gap {
  margin-top: 50px;
}
#footerBottom {
  font-size: 15px;
  padding-top: 30px;
  color: #B7B7B8;
  width: 90%;
  display: flex;
  margin: auto;
}
#footerBottom>div {
  width: 50%;
}
#bottomTabs {
  display: flex;
  justify-content: space-evenly;
}
#bottomTabs>div>div {
  width: 200px;
  padding-top: 15px;
  margin: auto;
}
#bottomIcon {
  padding-top: 30px;
  width: 50px;
}
#bottomTabs>div>div>a {
  color: #B7B7B8;
}
/* Footer End */

/* Media Queries */

@media all and (max-width: 700px) {
  #body {
    grid-template-columns: repeat(1, 1fr);
  }
  .corrector3 > h3 {
    margin-top: 30px;
  }
  .corrector3 > button {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .corrector4 > h3 {
    margin-top: 250px;
    margin-bottom: 30px;
  }
  .corrector4 > button {
    margin-bottom: 400px;
  }
  .endPart {
    height: 200px;
  }
}
